<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="moviespart1.project.udacity.android.movieinfopro">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MovieListMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MovieListMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="moviespart1.project.udacity.android.movieinfopro.MovieListMainActivity" />
        </activity>

        <activity
            android:name=".MovieDetailMainActivity"
            android:label="@string/title_activity_movieDetails"
            android:parentActivityName=".MovieListMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="moviespart1.project.udacity.android.movieinfopro.MovieListMainActivity" />
        </activity>

    </application>

</manifest>
